


<div class="mt-3 col-md-10 ">
<div class="d-flex justify-content-end" >
  <a href="/orderAdd" class="btn btn-success">Add</a>
    <input class="search" id="OrderSearchBar" class="from-control" placeholder="Search..." 
     aria-label="Search"
     [(ngModel)]="filterText"         
    > 
    
   
</div>

</div>


<div class="container">
<div class="row">
<div class="col-md-10 p-2">
<table class="table table-hover">
  <thead>
    
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Order</th>
      <th scope="col">Model</th>
      <th scope="col">Model</th>
      <th scope="col">Country</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let or of order | orderFilter:filterText">
      <td>{{or.id}}</td>
      <td>{{or.Order}}</td>
      <td>{{or.Model}}</td>
      <td>{{or.Date}}</td>
      <td>{{or.Country}}</td>
      <td>{{or.Status}}</td>
      <td><a  href="/orderEdit/{{or.id}}" class="btn btn-success">Edit</a></td>
      <td><a class="btn btn-danger" (click)="removeOrder(or.id)">Delete</a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>



